.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10vh 7vw;
}

.link {
  text-decoration: none;
}

.title {
  width: 300px;
}

.table_head {
  font-weight: 400;
}
