.wrapper {
  display: flex;
  flex-direction: row;
  height: 14vh;
  width: 100%;
  padding: 2vh;
  border: 1px solid rgb(196, 191, 191);
  color: rgb(85, 95, 104);
  font-size: 50px;
}

.logo {
  margin-left: 60px;
  border-bottom: 2px rgb(67, 155, 155) solid;
}

.link {
  text-decoration-line: none;
  color: rgb(67, 155, 155);
}

.link:hover {
  color: rgb(82, 185, 185);
}
